<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       					     http://www.springframework.org/schema/aop
                      	    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                           	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
                           	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
       default-autowire="byName">


    <!-- 引入的配置文件  -->
    <bean id="dataSource"
          class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass">
            <value>com.mysql.jdbc.Driver</value>
        </property>
        <property name="jdbcUrl">
            <value>#{configManager.getMysqlConfig('trade_public_mysql','1.1','trade').url}</value>
        </property>
        <property name="user">
            <value>#{configManager.getMysqlConfig('trade_public_mysql','1.1','trade').user}</value>
        </property>
        <property name="password">
            <value>#{configManager.getMysqlConfig('trade_public_mysql','1.1','trade').pwd}</value>
        </property>
        <property name="acquireIncrement">
            <value>3</value>
        </property>
        <property name="initialPoolSize">
            <value>3</value>
        </property>
        <property name="minPoolSize">
            <value>2</value>
        </property>
        <property name="maxPoolSize">
            <value>50</value>
        </property>
        <property name="maxIdleTime">
            <value>600</value>
        </property>
        <property name="idleConnectionTestPeriod">
            <value>900</value>
        </property>
        <property name="maxStatements">
            <value>100</value>
        </property>
        <property name="numHelperThreads">
            <value>10</value>
        </property>
    </bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <property name="mapperLocations">
            <array>
                <value>classpath*:mybatis/sqlmap/*.xml</value>
                <value>classpath*:mybatis/sqlmap/manual/ManualMapper.xml</value>
            </array>
        </property>
    </bean>

	<!-- 使用annotation定义事务 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
	<!-- 定义受环境影响易变的变量 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.gy.model.mapper"/>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
    
</beans>